n8n workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.snippet }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        2160
      ],
      "id": "16d7a038-7a2f-49f7-b048-b695a2b24df4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        176,
        2160
      ],
      "id": "7fee200c-a451-4f82-80ab-f086d3f3ba62",
      "name": "Markdown"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Your task is to take all the raw Markdown of a website.\n\nyour website URL, for the relative\n-> absolute conversations, is \nhttps://www.goodcall.com/bpo/e-commerce#:~:text=One%20of%20the%20key%20strengths,the%20time%20or%20time%20zone",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a helpful, intelligent web scraping assistant."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        400,
        2160
      ],
      "id": "f1fd43d4-faf5-4720-a653-20badf5f0242",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        2336
      ],
      "id": "c41e20b8-6fe4-4bab-a42e-4fba326cbcea",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "l6sCuYPZuSOw4jaX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"article Title\": \"Give the article a title form the context\",\n  \n\"PlainTextWebsiteCopy\":\"a long string containing just the text of the site, no formating\",\n  \n\"OneLineSummary\":\"summarization of what the site is about\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        544,
        2336
      ],
      "id": "7fe3744d-345b-4cda-a45a-c3accf795d9d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article transcript: {{ $json.output.PlainTextWebsiteCopy }}\n\n\n### TASK:\nUsing the above, generate a list of **actionable content ideas to promote how can BPO enhance the eCommerce effeciency**.\n\n\n\nNote: Only pick transcripts that are in english \n\n- Content will be published on LinkedIn to target decison makers in the market\n- Use Visual or text hook or both the target is to reach the right people and to stop their scrooling\n- Visuals should be clean,profissional,but catchy to touch the pain point\n\n**Article transcript**  \nThese are insights that are trending or educational. Use these to understand:\n- What problems they’re solving\n- What frameworks or tools are used\n- understand the value that you should provide for the targeted audiance\n\n[Paste Article transcript content here or insert variable e.g., {{ $json.output.PlainTextWebsiteCopy }}\n\n\nthe output in this format:\n{\n\n    {\n      \"title\": \"clean title to show that this is a valuable post\",\n      \"content\": \"here is the content\"\n    },\n    {\n      \"title\": \"Turn One Video into 10 Posts\",\n      \"content\": \"here is the content\"\n    }\n\n}",
        "options": {
          "systemMessage": "You are an expert content strategist helping create high-impact content tailored to Decision makers in American eCommerce companies.\n\n### OBJECTIVE:\nGenerate **actionable content ideas** based on Article transcript.\n\nThe output should help us create **Content** that:\n- Are useful and practical\n- Mirror themes and tones that work for our audience\n- Explore new but relevant ideas\n- Lean into content formats that already perform well for us\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        752,
        2160
      ],
      "id": "60c77566-952e-4f16-bc16-3f48fe2c1fcb",
      "name": "Content idea generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        2368
      ],
      "id": "d70fe04e-085a-4ded-ab90-69a18f592d52",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "l6sCuYPZuSOw4jaX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb91ae06-afbe-4305-92b4-3e8d1cb13e6f",
              "name": "output",
              "value": "={{ $json.clean }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        2160
      ],
      "id": "ebc0fbb1-ae22-4b5e-abfb-422911a329bc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || \"\"; // أو wherever the raw output is\nreturn {\n  json: {\n    clean: raw.replace(/```json|```/g, \"\").trim()\n  }\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        2160
      ],
      "id": "b763fd39-9524-4f89-bb57-51982863ddf2",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1O0pTRDoV3b8IYNolAKyI7Cc7BVsRaavdTjamptzoAv0",
          "mode": "list",
          "cachedResultName": "Content Creator for Business",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0pTRDoV3b8IYNolAKyI7Cc7BVsRaavdTjamptzoAv0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0pTRDoV3b8IYNolAKyI7Cc7BVsRaavdTjamptzoAv0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic Title": "={{ $json.output.title }}",
            "Topic Content": "={{ $json.output.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic Title",
              "displayName": "Topic Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic Content",
              "displayName": "Topic Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1728,
        2160
      ],
      "id": "85010b7a-a639-4c43-a3b8-c914ffc9dd4a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ak8eEhwQ0uMJlq5T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1536,
        2160
      ],
      "id": "1bdc11b0-baa4-4804-8411-bc7f5be973a1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Brand voice to follow \n\n- Write with authentic expertise and direct communication\n- Use confident, straightforward language demonstrating real experience\n- Be intelligent without academic or overly formal phrasing\n- Speak directly to the reader as if sharing insider knowledge\n- Avoid corporate jargon and marketing-speak\n- Use contractions and occasional casual phrases to maintain authenticity\n- Make definitive statements rather than hedging\n- Balance technical accuracy with accessibility\n- Structure content with clear, punchy headers and concise explanations\n- Prioritize actionable advice over theoretical concepts\n- Sound like a successful practitioner sharing hard-earned wisdom\n- Avoid both overly casual language (\"stuff,\" \"randos\") and artificially elevated vocabulary (\"magnetizes elite collaborators\")\n- Use precise, impactful language that respects reader intelligence while remaining accessible\n\n\nInstructions\n\nUse research as context only {{ \"Title: \"+$json['Topic Title']+\"\\n\\n\"+\"Context: \"+$json['Topic Content'] }} in order to create a narrative driven posts that give readers actionable insights and takeaways and impact business in positive ways (only use data if it's relevant)\n\nWrite one detailed (150 words) linkedin post from one of the ideas - {{ \"Title: \"+$json['Topic Title']+\"\\n\\n\"+\"Context: \"+$json['Topic Content'] }}\n\nContent themes + angles to which you will create post - \n\nLinkedin format - Carousel, text post\n\nContent ideas to follow to create post - {{ \"Title: \"+$json['Topic Title']+\"\\n\\n\"+\"Context: \"+$json['Topic Content'] }} (Pick around how marketers can scale marketing efforts with AI using n8n for specific marketing use case like ad campaign, scaling outbound, sclaing content creation)\n\n\n- add from 3-5 hashtags\n- Avoid taking format from content ideas \n- Avoid emojis\n- Create 1 detailed post ( 150 words) \n- Topic - Pick topic around how BPO or outsourcing cx and backoffice can help eCommerce companies to grow\n- Do **not** use any styling such as bold, italic, underlining, headers, or Markdown.\n",
        "options": {
          "systemMessage": "You are a LinkedIn content strategist and conversion copywriter.\n\nYour goal is to generate high-performing LinkedIn Posts, — each based on a strategic content idea.\n\nUse content ideas and come up with 1 150 word posts\n\nThese are not casual updates or short tips. Each post should be a 150-word mini-article designed to:\n\nShare deep insight, story, or tactical advice in an authentic, scroll-stopping way\n\nFeel natural for a professional audience, with a human voice and practical depth\n\nWork well as a single post or be repurposed into a carousel\n\nWriting Guidelines:\nStart with a hook in the first 2 lines that will expand the post (e.g., bold statement, problem question, surprising stat)\n\nQuickly introduce the core idea or story and why it matters\n\nBreak the middle into 2–3 key insights, steps, or moments\n\nUse line breaks for visual flow and readability\n\nEnd with a light CTA or prompt to encourage conversation (e.g., “What’s your experience?” or “Curious to hear your take.”)\n\nMaintain a professional but human tone — clarity > cleverness\n\n\nNo extra commentary, explanations, or markdown formatting\n\nEach post should be ~150-200 words, clearly written, and formatted for native LinkedIn use\n\nAvoid emojis\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -592,
        1408
      ],
      "id": "ee6f08ad-4979-4b66-8bc0-43efb7dca5fe",
      "name": "Linkedin post generating agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -592,
        1600
      ],
      "id": "6be86b99-07c0-4e20-a847-8e4b93a49322",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "l6sCuYPZuSOw4jaX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1O0pTRDoV3b8IYNolAKyI7Cc7BVsRaavdTjamptzoAv0",
          "mode": "list",
          "cachedResultName": "Content Creator for Business",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0pTRDoV3b8IYNolAKyI7Cc7BVsRaavdTjamptzoAv0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0pTRDoV3b8IYNolAKyI7Cc7BVsRaavdTjamptzoAv0/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -944,
        1408
      ],
      "id": "2693aa4e-c9e7-42c5-b218-d9085998da04",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ak8eEhwQ0uMJlq5T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -768,
        1408
      ],
      "id": "3e824ffb-21aa-4d02-a674-807d86c52183",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "=https://docs.google.com/document/d/{{ $json.id }}/edit",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Linkedin post generating agent1').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        480,
        1728
      ],
      "id": "312c1588-93de-474e-82c8-1f34647dd1e2",
      "name": "Linkedin content doc1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "BDOTDzza8rgK6cDj",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2,
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1136,
        1408
      ],
      "id": "c49a3a8d-111d-4a15-9cc6-11318d775fe4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=create image generation short prompt for this linkedin post: \n\n{{ $('Linkedin post generating agent1').item.json.output }}\n\ni also want this style in the image:\n\n\"A flat vector illustration in a modern and minimal style. Clean outlines, bright professional colors, soft gradients, simple geometric shapes, and rounded edges. Friendly characters with smooth features, business-like but approachable design. Balanced composition with icons and abstract background elements. Professional, vibrant, and easy-to-understand visual style, suitable for infographics and presentations.\"\n\n\n- i want short prompt.\n- don't add commas or dots in the prompt and make it clear.\n\nmake three prompts.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI image‑prompt creation expert. \n\nColor\nMatch a professional tone\nProvide sufficient contrast for readability\nMaintain visual consistency\n\nTechnical Details\nAlways use high resolution (8k)\nEnsure professional lighting\nOptimize for sharpness and detail\n\nCommon Pitfalls to Avoid\nOverly generic prompts\nMissing text‐integration guidance\nFailing to specify composition rules\nOmitting key technical parameters\n\nmake three prompts."
        }
      },
      "id": "2a8124b0-85fc-4af7-8c5b-bd4a05a3e5b1",
      "name": "AI Agent - Create Image From Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -64,
        1280
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1O0pTRDoV3b8IYNolAKyI7Cc7BVsRaavdTjamptzoAv0",
          "mode": "list",
          "cachedResultName": "Content Creator for Business",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0pTRDoV3b8IYNolAKyI7Cc7BVsRaavdTjamptzoAv0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O0pTRDoV3b8IYNolAKyI7Cc7BVsRaavdTjamptzoAv0/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2336,
        1424
      ],
      "id": "7e26b1e9-80ed-48c6-b215-b649016e737f",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ak8eEhwQ0uMJlq5T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "person": "bHcmTIiqba",
        "text": "={{ $json.content }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "title": "={{ $('Limit').item.json['Topic Title'] }}",
          "visibility": "CONNECTIONS"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2160,
        1424
      ],
      "id": "1f2d6a7b-9e49-499f-8103-a2ee540dea74",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "nSjie2pK4maBrH0L",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        1168
      ],
      "id": "be7b5750-8481-48ad-8363-bec89b2d0c1f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        256,
        1280
      ],
      "id": "3d0ea410-b58b-4034-abe4-c27f30a822a2",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "name": "={{ $binary.data }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        1280
      ],
      "id": "641dfac2-bdba-4df8-8875-ba4b67dbaca9",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Llf4X8eJXAtmW6RZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Limit').item.json['Topic Title'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ZU9wF1-Man8J9hT3Jv-bO8VQncaGZsB1",
          "mode": "list",
          "cachedResultName": "linkedin images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZU9wF1-Man8J9hT3Jv-bO8VQncaGZsB1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        1280
      ],
      "id": "1d7f2689-0f29-42c1-886f-743e85b5d3a1",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Llf4X8eJXAtmW6RZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "id, thumbnailLink",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        960,
        1280
      ],
      "id": "081bbeff-6396-48f2-88ca-2e44598ad426",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        1424
      ],
      "id": "df8ae442-5c68-44fc-b332-f60c98b1353d",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data['Choose Image'] }}",
                    "rightValue": "Image 1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a3c90ff9-e267-4d7d-b159-d21428fa553c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4e4c77f8-385e-4e70-bce3-332e3ebda61b",
                    "leftValue": "={{ $json.data['Choose Image'] }}",
                    "rightValue": "Image 2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15edb96c-702d-4517-9d7a-51a406a74ff7",
                    "leftValue": "={{ $json.data['Choose Image'] }}",
                    "rightValue": "Image 3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01524a6e-5b70-4a39-82c9-c23b910d1077",
                    "leftValue": "={{ $json.data['Choose Image'] }}",
                    "rightValue": "Don't Post",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1536,
        1264
      ],
      "id": "a05919ac-b2a3-47ef-8d6d-4ae03748cb98",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Aggregate').item.json.data[0].id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        1120
      ],
      "id": "216a2b28-82dc-479c-b894-89bc41642a44",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Llf4X8eJXAtmW6RZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Aggregate').item.json.data[1].id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        1280
      ],
      "id": "33ad3d31-11f4-49e7-9078-45707abbaf15",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Llf4X8eJXAtmW6RZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Aggregate').item.json.data[2].id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        1440
      ],
      "id": "670324b5-f42f-49f2-b239-bb50864f21a0",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Llf4X8eJXAtmW6RZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "maldony999@gmail.com",
        "subject": "You Posted a LinkedIn Post!",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        color: #333333;\n        line-height: 1.6;\n        padding: 20px;\n        background-color: #f7f7f7;\n      }\n      .container {\n        background-color: #ffffff;\n        padding: 30px;\n        border-radius: 8px;\n        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);\n        max-width: 600px;\n        margin: auto;\n      }\n      h2 {\n        color: #0077b5;\n      }\n      .post-content {\n        background-color: #f0f0f0;\n        padding: 15px;\n        border-radius: 5px;\n        white-space: pre-line;\n      }\n      .footer {\n        font-size: 13px;\n        color: #888;\n        margin-top: 30px;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h2>✅ Your LinkedIn Post Is Live!</h2>\n      <p>Hello,</p>\n      <p>Your daily LinkedIn post has just been published successfully.</p>\n      <p>Here’s what was posted:</p>\n      <div class=\"post-content\">\n{{ $('Merge1').item.json.content }}\n      </div>\n      <p>Feel free to view it on your profile and engage with your network!</p>\n      <p>Best regards,<br>LinkedIn Auto-Poster Bot</p>\n      <div class=\"footer\">\n        This is an automated message. Please do not reply.\n      </div>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2512,
        1424
      ],
      "id": "f1e731a2-2aeb-4b26-a663-03abd8bc22f2",
      "name": "Send a message1",
      "webhookId": "febb5739-5566-4598-b26b-f64634d99b92",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2IfFxnspw2LeM51",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2000,
        1424
      ],
      "id": "9259b917-baba-40bb-9826-2a6e19705c20",
      "name": "Merge1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "filters": {
          "sender": "m.oraby2357@su.edu.eg"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        2160
      ],
      "id": "fbd49485-747e-4f90-bedc-c2a83b6fbb6b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2IfFxnspw2LeM51",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 65536,
          "temperature": 0.5,
          "topK": 40,
          "topP": 1,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "id": "e65b979f-d95a-4fa3-8982-fd11e42523c2",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -64,
        1472
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "l6sCuYPZuSOw4jaX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"prompt1\": \"image prompt 1\",\n  \"prompt2\": \"image prompt 2\",\n  \"prompt3\": \"image prompt 3\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        1472
      ],
      "id": "b79b81e4-a752-406f-9c51-2b66acf58ded",
      "name": "Structured Output"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "x = {\"output\" : _input.item.json.output.replace(\" \",\"_\")}\nreturn x"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1280
      ],
      "id": "af4c8f2b-1dbf-41d2-be63-451cdf7e51de",
      "name": "Adding Underscore"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ $('Adding Underscore').item.json.output }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "nologo",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "35a2d18d-f9f5-4e7b-a43f-a249ba39b7c9",
      "name": "Genarate 3 Images",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        608,
        1280
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "maldony999@gmail.com",
        "subject": "LinkedIn Daily Post",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Document Review Request</title>\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n      background: #f4f7f6;\n      font-family: Arial, Helvetica, sans-serif;\n      line-height: 1.5;\n      color: #333;\n    }\n    .email-wrapper {\n      max-width: 600px;\n      margin: 20px auto;\n      background: #ffffff;\n      border-radius: 8px;\n      box-shadow: 0 2px 6px rgba(0,0,0,0.1);\n      overflow: hidden;\n    }\n    .header {\n      background: #FF6D5A;\n      color: #fff;\n      text-align: center;\n      padding: 15px;\n      font-size: 20px;\n      font-weight: bold;\n    }\n    .content {\n      padding: 20px;\n      font-size: 15px;\n    }\n    .button {\n      display: inline-block;\n      background: #FF6D5A;\n      color: #fff !important;\n      text-decoration: none;\n      padding: 10px 18px;\n      border-radius: 6px;\n      font-weight: bold;\n      margin: 20px 0;\n    }\n    .images {\n      display: flex;\n      justify-content: center;\n      gap: 10px;\n      margin: 15px 0;\n      flex-wrap: wrap;\n    }\n    .images div {\n      text-align: center;\n    }\n    .images img {\n      width: 150px;\n      border-radius: 6px;\n      border: 1px solid #ddd;\n    }\n    .caption {\n      font-size: 13px;\n      color: #555;\n      margin-top: 5px;\n    }\n    .footer {\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n      padding: 10px;\n      border-top: 1px solid #eee;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"email-wrapper\">\n    <div class=\"header\">\n      Request for Document Review\n    </div>\n    <div class=\"content\">\n      <p>Dear Yousef El-housiny,</p>\n      <p>Post titled \"<strong>{{ $('Linkedin doc creation').item.json.name }}</strong>\" \nis ready for your review and feedback.</p>\n      <p>Please access the document using the link below:</p>\n      \n      <a href=\"https://docs.google.com/document/d/{{ $json.documentId }}/edit?tab=t.0\" class=\"button\">View Document</a>\n      \n      <p>Choose the image you prefer for the post:</p>\n      <div class=\"images\">\n        <div>\n          <img src=\"{{ $json.data[0].thumbnailLink }}\" alt=\"Option 1\">\n          <div class=\"caption\">Option 1</div>\n        </div>\n        <div>\n          <img src=\"{{ $json.data[1].thumbnailLink }}\" alt=\"Option 2\">\n          <div class=\"caption\">Option 2</div>\n        </div>\n        <div>\n          <img src=\"{{ $json.data[2].thumbnailLink }}\" alt=\"Option 3\">\n          <div class=\"caption\">Option 3</div>\n        </div>\n      </div>\n      \n      <p>If you have any questions, feel free to reply to this email.</p>\n      <p>Thank you for your prompt attention.</p>\n    </div>\n    <div class=\"footer\">\n      Best regards\n    </div>\n  </div>\n</body>\n</html>\n",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Choose Image",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Image 1"
                  },
                  {
                    "option": "Image 2"
                  },
                  {
                    "option": "Image 3"
                  },
                  {
                    "option": "Don't Post"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Choose Image",
          "limitWaitTime": {
            "values": {
              "resumeAmount": 90,
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1328,
        1424
      ],
      "id": "22c37c9e-c015-4073-91c5-296e0f09740e",
      "name": "Send message and wait for response",
      "webhookId": "91787cdf-83b9-44f5-ba0d-908ccfb593d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2IfFxnspw2LeM51",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=https://docs.google.com/document/d/{{$('Linkedin doc creation').item.json.id}}/edit"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1760,
        1664
      ],
      "id": "af48f137-5e37-471b-9009-36bc51f3b8b8",
      "name": "Get the content",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "BDOTDzza8rgK6cDj",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1Leay4TyWCg5tj3lAR04ijlr99hT8_-dm",
        "title": "={{ $('Limit').item.json['Topic Title'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        1728
      ],
      "id": "35f20dab-300f-4a77-b20a-ecaae7102e52",
      "name": "Linkedin doc creation",
      "executeOnce": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "BDOTDzza8rgK6cDj",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "# LinkedIn Post Generation\n",
        "height": 928,
        "width": 3872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        1024
      ],
      "typeVersion": 1,
      "id": "d6a89623-3fa5-4caa-a2e2-e38a2fe08b68",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Scrape Articles & Generate Context",
        "height": 560,
        "width": 2352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        1952
      ],
      "typeVersion": 1,
      "id": "aef0017a-e5c3-48cf-9454-deda0effd597",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Content idea generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content idea generator": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Content idea generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Linkedin post generating agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Linkedin post generating agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin content doc1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Linkedin post generating agent1": {
      "main": [
        [
          {
            "node": "Linkedin doc creation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Create Image From Prompt": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Adding Underscore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Adding Underscore": {
      "main": [
        [
          {
            "node": "Genarate 3 Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Genarate 3 Images": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get the content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the content": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Linkedin doc creation": {
      "main": [
        [
          {
            "node": "Linkedin content doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a945f17-7c7e-4a04-9eeb-5ff7395f1603",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90c630fd79c8e0065623a340b4fe7e85b897f5484c40794f930b4919cf55d587"
  },
  "id": "xoGfyAKLcE3WcRvw",
  "tags": []
}